@use '/src/scss/_partials/variables' as *;
@use '/src/scss/_partials/mixins' as *;

/****** CARD - DARK BACKGROUND ******/

.Card {
    @include Card;
    .ProfilePicture {
        @include ProfilePicture;
    }
    .ProfileMainSection {   
        @include ProfileMainSection;
        background-color: $EerieBack-02;
    }
    .ProfileSnapshot {
        @include ProfileSnapshot;
        .ProfileName {
            @include ProfileName;
            color: $White;
            padding-top: 1.3125rem;
        }
        .ProfileTitle {
            @include ProfileTitle;
            color: $PeachOrange;
            padding-top: .2619rem;
        }
        .ProfileWebsiteLink {
            @include ProfileWebsiteLink;
            color: $Cultured;
            padding-top: .5506rem;
        }   
    }
    .ContactButtons {
        @include ContactButtons;
        .EmailButton {
            @include EmailButton;
            .EmailButtonText {
                @include EmailButtonText;
                color: $Charcoal;
            }
        }
        .EmailButtonCard2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: .5625rem .8125rem .5625rem .6875rem;
            gap: .5rem;
            height: 2.125rem;
            left: 9.4375rem;
            top: 29.25rem;
            background: $White;
            border: .0625rem solid $LightSilver;
            box-shadow: 0rem .0625rem .125rem #0000000d;
            border-radius: .375rem;
            width: 100%;
            cursor: pointer;
            .EmailButtonText {
                @include EmailButtonText;
                color: $Charcoal;
            }
        }
        .LinkedInButton {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: .5625rem .8125rem .5625rem .6875rem;
            gap: .5rem;
            width: 7.5313rem;
            height: 2.125rem;
            left: 17.6875rem;
            top: 29.25rem;
            background: $UnitedNationsBlue;
            box-shadow: 0rem .0625rem .125rem #0000000d;
            border-radius: .375rem;
            border: none;
            cursor: pointer;
            .LinkedInButtonText {
                @include LinkedInButtonText;
                color: $White;
            }
        }
    }
    .ProfileSnapshotInfo {
        @include ProfileSnapshotInfo;
        .ProfileAboutText {
            color: $Gainsboro;
            @include ProfileAboutText;
        }
        .ProfileInterests {
            padding-top: 1.125rem;
        }
        .ProfileAbout, .ProfileInterests {
            color: $Cultured;
            padding-bottom: .3125rem;
        }
    }
    .FooterLinks {
        @include FooterBar;
        background-color: $ChineseBlack;
    }
}