@use '/src/scss/_partials/variables' as *;
@use '/src/scss/_partials/mixins' as *;

/****** CARD - LIGHT BACKGROUND ******/

.Card {
    @include Card;
    .ProfilePicture {
        @include ProfilePicture;
    }
    .ProfileMainSection-Light {
        @include ProfileMainSection;
        background-color: $Cultured;
    }
    .ProfileSnapshot-Light {
        @include ProfileSnapshot;
        .ProfileName-Light {
            @include ProfileName;
            color: $Gunmetal;
            padding-top: 21px;
        }
        .ProfileTitle-Light {
            @include ProfileTitle;
            color: $PrincetonOrange;
            padding-top: 4.19px;
        }
        .ProfileWebsiteLink-Light {
            @include ProfileWebsiteLink;
            color: $Independence;
            padding-top: 8.81px;
        }   
    }
    .ContactButtons-Light {
        @include ContactButtons;
        .EmailButton {
            @include EmailButton;
            cursor: pointer;
            .EmailButtonText-Light {
                @include EmailButtonText;
                color: $Charcoal;
            }
        }
        .LinkedInButton-Alt {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 9px 13px 9px 11px;
            gap: 8px;
            width: 120.5px;
            height: 34px;
            left: 283px;
            top: 468px;
            background: $BleuDeFrance;
            box-shadow: 0px 1px 2px #0000000d;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            .LinkedInButtonText-Light {
                @include LinkedInButtonText;
                color: $White;
            }
        }
    }
    .ProfileSnapshotInfo-Light {
        @include ProfileSnapshotInfo;
        .ProfileAboutText-Light {
            color: $Independence;
            @include ProfileAboutText;
        }
        .ProfileInterests-Light {
            padding-top: 18px;
        }
        .ProfileAbout-Light, .ProfileInterests-Light {
            color: $Gunmetal;
            padding-bottom: 5px;
        }
    }
    .FooterLinks-Light {
        @include FooterBar;
        background-color: $LightSilver;
    }  
}