@use '/src/scss/_partials/variables' as *;

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 868px;
    left: 65px;
    top: 53px;
    background-color: $DarkGunmetal;
}

.ProfileMainSection {   
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: $EerieBack-02;
    width: 317px;
    height: 399px;
}

.ProfileName {
    padding-top: 21px;
}

.ProfileTitle {
    padding-top: 6.19px;
}

.ProfileWebsiteLink {
    padding-top: 8.81px;
}

.ProfileSnapshot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileSnapshotInfo {
    /*padding-left: 36px;
    padding-right: 34px;
    padding-top: 33px;*/
    padding-bottom: 24px;
    width: 247px;
    height: 201px;
    left: 152px;
    top: 535px;
}

.ProfilePicture {
    height: 317px;
    width: 317px;
}

.FooterLinks {
    background-color: $ChineseBlack;
    width: 317px;
    border-radius: 0px 0px 6px 6px;
    display: flex;
    height: 64px;
    justify-content: space-evenly;
    flex-direction: row;
}

.EmailButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 5%);
    border-radius: 6px;
    cursor: pointer;
}

.LinkedInButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;
    background: #5093E2;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 5%);
    border-radius: 6px;
    cursor: pointer;
}