@use '/src/scss/_partials/variables' as *;
@use '/src/scss/_partials/mixins' as *;

/****** CARD - DARK BACKGROUND ******/

.Card {
    @include Card;
    .ProfilePicture {
        @include ProfilePicture;
    }
    .ProfileMainSection {   
        @include ProfileMainSection;
        background-color: $EerieBack-02;
    }
    .ProfileSnapshot {
        @include ProfileSnapshot;
        .ProfileName {
            padding-top: 21px;
        }
        .ProfileTitle {
            padding-top: 4.19px;
        }
        .ProfileWebsiteLink {
            padding-top: 8.81px;
        }   
    }
    .ContactButtons {
        display: flex;
        padding-top: 15px;
        .EmailButton {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-right: 17px;
            padding: 9px 13px 9px 11px;
            gap: 8px;
            width: 115px;
            height: 34px;
            left: 151px;
            top: 468px;
            background: $White;
            border: 1px solid $LightSilver;
            box-shadow: 0px 1px 2px #0000000d;
            border-radius: 6px;
            cursor: pointer;
        }
        
        .LinkedInButton {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 9px 13px 9px 11px;
            gap: 8px;
            width: 115px;
            height: 34px;
            left: 283px;
            top: 468px;
            background: $UnitedNationsBlue;
            box-shadow: 0px 1px 2px #0000000d;
            border-radius: 6px;
            cursor: pointer;
        }
    }
    .ProfileSnapshotInfo {
        @include ProfileSnapshotInfo;
        .ProfileInterests {
            padding-top: 18px;
        }
    }
    .FooterLinks {
        @include FooterBar;
        background-color: $ChineseBlack;
    }
    
}

/********** FONT STYLING **********/

#root {
    font-family: 'Inter', sans-serif;
}

.ProfileName {
    @include ProfileName;
    color: $White;
}

.ProfileTitle {
    @include ProfileTitle;
    color: $PeachOrange;
}

.ProfileWebsiteLink {
    @include ProfileWebsiteLink;
    color: $Cultured;
}

.ProfileAbout, .ProfileInterests {
    color: $Cultured;
    padding-bottom: 5px;
}

.ProfileAboutText {
    color: $Gainsboro;
    @include ProfileAboutText;
}

.EmailButtonText {
    @include EmailButtonText;
    color: $Charcoal;
}

.LinkedInButtonText {
    @include LinkedInButtonText;
    color: $White;
}