@use '/src/scss/_partials/variables' as *;
@use '/src/scss/_partials/mixins' as *;

/****** CARD - LIGHT BACKGROUND ******/

.Card {
    @include Card;
    .ProfilePicture {
        @include ProfilePicture;
    }
    .ProfileMainSection-Light {
        @include ProfileMainSection;
        background-color: $Cultured;
    }
    .ProfileSnapshot-Light {
        @include ProfileSnapshot;
        .ProfileName-Light {
            @include ProfileName;
            color: $Gunmetal;
            padding-top: 1.3125rem;
        }
        .ProfileTitle-Light {
            @include ProfileTitle;
            color: $PrincetonOrange;
            padding-top: .2619rem;
        }
        .ProfileWebsiteLink-Light {
            @include ProfileWebsiteLink;
            color: $Independence;
            padding-top: .5506rem;
        }   
    }
    .ContactButtons-Light {
        @include ContactButtons;
        .EmailButton {
            @include EmailButton;
            cursor: pointer;
            .EmailButtonText-Light {
                @include EmailButtonText;
                color: $Charcoal;
            }
        }
        .LinkedInButton-Alt {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: .5625rem .8125rem .5625rem .6875rem;
            gap: .5rem;
            width: 7.5313rem;
            height: 2.125rem;
            left: 17.6875rem;
            top: 29.25rem;
            background: $BleuDeFrance;
            box-shadow: 0rem .0625rem .125rem #0000000d;
            border-radius: .375rem;
            border: none;
            cursor: pointer;
            .LinkedInButtonText-Light {
                @include LinkedInButtonText;
                color: $White;
            }
        }
    }
    .ProfileSnapshotInfo-Light {
        @include ProfileSnapshotInfo;
        .ProfileAboutText-Light {
            color: $Independence;
            @include ProfileAboutText;
        }
        .ProfileInterests-Light {
            padding-top: 1.125rem;
        }
        .ProfileAbout-Light, .ProfileInterests-Light {
            color: $Gunmetal;
            padding-bottom: .3125rem;
        }
    }
    .FooterLinks-Light {
        @include FooterBar;
        background-color: $LightSilver;
    }  
}