@use 'variables' as *;

/****** GLOBALS STYLES UNALTERED BY INDIVIDUAL VERSIONS ******/

@mixin Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34.375rem;
    height: 54.25rem;
    left: 4.0625rem;
    top: 3.3125rem;
    background-color: $DarkGunmetal;
}

@mixin ProfilePicture {
    height: 19.8125rem;
    width: 19.8125rem;
}

@mixin ProfileSnapshot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin ProfileSnapshotInfo {
    padding-top: 2.0625rem;
    padding-bottom: 1.5rem;
    width: 16.125rem;
    height: 12.5625rem;
    left: 9.5rem;
    top: 33.4375rem;
}

@mixin ProfileMainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19.8125rem;
    height: 24.9375rem;
}

@mixin ProfileName {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    text-align: center;
}

@mixin ProfileTitle {
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    line-height: .9375rem;
    text-align: center;
    letter-spacing: .0313rem;
}

@mixin ProfileWebsiteLink {
    font-style: normal;
    font-weight: 400;
    font-size: .64rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: .025rem;
}

@mixin ContactButtons {
    display: flex;
    width: 16.125rem;
    justify-content: space-between;
    padding-top: .9375rem;
}

@mixin EmailButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5625rem .8125rem .5625rem .6875rem;
    gap: .5rem;
    width: 7.5313rem;
    height: 2.125rem;
    left: 9.4375rem;
    top: 29.25rem;
    background: $White;
    border: .0625rem solid $LightSilver;
    box-shadow: 0rem .0625rem .125rem #0000000d;
    border-radius: .375rem;
    cursor: pointer;
}

@mixin ProfileAboutText {
    font-style: normal;
    font-weight: 400;
    font-size: .64rem;
    line-height: 150%;
    letter-spacing: .0313rem;
}

@mixin EmailButtonText {
    width: 2.25rem;
    height: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
}

@mixin LinkedInButtonText {
    width: 3.5625rem;
    height: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
}

@mixin FooterBar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    column-gap: 1.5rem;
    border-radius: 0rem 0rem .375rem .375rem;
    display: flex;
    height: 4rem;
    cursor: pointer;
    width: 19.8125rem;
    justify-content: center;
}