@use 'variables' as *;

/****** GLOBALS STYLES UNALTERED BY INDIVIDUAL VERSIONS ******/

@mixin Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 868px;
    left: 65px;
    top: 53px;
    background-color: $DarkGunmetal;
}

@mixin ProfilePicture {
    height: 317px;
    width: 317px;
}

@mixin ProfileSnapshot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin ProfileSnapshotInfo {
    padding-top: 33px;
    padding-bottom: 24px;
    width: 258px;
    height: 201px;
    left: 152px;
    top: 535px;
}

@mixin ProfileMainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 317px;
    height: 399px;
}

@mixin ProfileName {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

@mixin ProfileTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
}

@mixin ProfileWebsiteLink {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.4px;
}

@mixin ContactButtons {
    display: flex;
    width: 258px;
    justify-content: space-between;
    padding-top: 15px;
}

@mixin EmailButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 120.5px;
    height: 34px;
    left: 151px;
    top: 468px;
    background: $White;
    border: 1px solid $LightSilver;
    box-shadow: 0px 1px 2px #0000000d;
    border-radius: 6px;
    cursor: pointer;
}

@mixin ProfileAboutText {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

@mixin EmailButtonText {
    width: 36px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

@mixin LinkedInButtonText {
    width: 57px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

@mixin FooterBar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    column-gap: 24px;
    border-radius: 0px 0px 6px 6px;
    display: flex;
    height: 64px;
    cursor: pointer;
    width: 317px;
    justify-content: center;
}