@media only screen and (max-width: 1150px) {
    .Container {
        grid-template-columns: auto !important;
    }
}

@media only screen and (max-width: 800px) {
    .Card {
        width: 26.5625rem !important;
    }
}

@media only screen and (max-width: 450px) {
    .Card {
        background-color: transparent !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 449px) {
    .Card {
        width: 20rem !important;
    }
}