/****** COLORS ******/

$ChineseBlack: #161619;
$EerieBlack: #1c1c1c;
$DarkGunmetal: #23252c;
$Charcoal: #374151;
$UnitedNationsBlue: #5093e2;
$PeachOrange: #f3bf99;
$SpanishGray: #918e9b;
$Gainsboro: #dcdcdc;
$Cultured: #f5f5f5;
$White: #fff;

/****** STYLES ******/

$BorderRadius: 6px;